.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgba(52, 50, 50, 0.55);
  box-shadow: 0 0 1rem #cfe2cfaa;
  transition: all 0.5s ease-in-out;
}

.pokemon:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem #b30593;
  color: #b30593;
}

#title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

#image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.types {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.flavor-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(52, 50, 50, 0.33);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.flavor-text-wrapper {
  position: relative;
  z-index: 3;
}

.flavor-text {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

.pokemon:hover .flavor-container {
  display: block;
}

.flavor-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1rem 1rem 0;
  border-color: #b30593 transparent transparent transparent;
}
