.search-div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.search-bar {
  text-align: center;
  padding: 0.5rem;
  color: rgb(144, 113, 246);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 1rem;
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 0 1rem #cfe2cfaa;
  transition: all 0.5s ease-in-out;
}

::placeholder {
  color: #ffffff;
  text-align: center;
}
