.poke-scroll {
  overflow-y: scroll;
  border: 3px solid blueviolet;
  box-shadow: 0 0 1rem #cfe2cfaa;
  height: 25rem;
  border-radius: 1rem;
}

.poke-scroll::-webkit-scrollbar {
  width: 0.25em;
}

.poke-scroll::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: 1px solid slategrey;
}

@media screen and (min-width: 40rem) {
  .poke-scroll {
    height: 25rem;
  }
}
