.pokeList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 2rem;
  padding: 0 1rem;
  border-radius: 5%;
  filter: drop-shadow(0 0 10rem #f605ceaa);
}
