.pokeList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3rem;
  padding: 0 1rem;
  border-radius: 5%;
  filter: drop-shadow(0 0 10rem #f605ceaa);
}
.poke {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  border-radius: 10%;
  background: rgba(255, 255, 255, 0.55);
  filter: drop-shadow(0 0 10rem #f605ceaa);
}
