.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 23rem;
  min-width: 20rem;
  width: 30%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgba(52, 50, 50, 0.55);
  box-shadow: 0 0 1rem #cfe2cfaa;
  transition: all 0.5s ease-in-out;
}

#title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

#image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.types {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
  padding: 1rem;
}

.types > span:not(:last-child) {
  margin-right: 0.5rem;
}

.flavor-container {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 47.5%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  background-color: rgba(52, 50, 50, 0.33);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.extra-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem;
}

.flavor-text {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.stats {
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}

.damages {
  font-size: 1rem;
  line-height: 0.25rem;
  font-weight: 500;
  color: white;
}

.damage-from-title {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(234, 84, 84);
}

.damage-to-title {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(115, 234, 115);
}

.pokemon:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1rem #b30593;
  color: #b30593;
}

.pokemon:hover .flavor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
